@model ActFinalZooplanet.Models.Clase;
@{
    ViewData["Title"] = "Especies";
    Layout = "_Layout";
}

<h1>
    <img src="~/clases/@(Model.Id).png" /> @Model.Nombre
</h1>

<div class="listaEspecies2">
    @foreach (var E in Model.Especies)
    {
        <a href="~/especie/@(E.Especie.Replace(" ","-"))">
            <img src="~/especiesimg/@(E.Id).jpg" title="@E.Especie" />
        </a>
    }
</div>

<script>

    var c = document.querySelector("main h1 img").cloneNode();
    document.querySelector("main h1").appendChild(c);
</script>

