@model IEnumerable<Act4Disneypixar.Models.Categorium>
@{
    Layout = "_Layout";
}

<div id="principalPeliculas">

    <div id="pelis">
        @foreach (var cate in Model)
        {
            <h1>@cate.Nombre</h1>

            @foreach (var corto in cate.Cortometrajes)
            {
                <div>
                    <a class="imgPelicula" href="~/corto/@corto.Nombre.Replace(" ", "-")">
                        <img src="images/portadas/@(corto.Id)_pc.jpg" alt="@corto.Nombre">
                    </a>
                    <div class="nombrePelicula">
                        <p>@corto.Nombre</p>
                    </div>
                </div>
            }
        }
    </div>
</div>

